.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    gap: .5em;
    
}

.subtitle {
    display: flex;
    gap: .5em;
}

.subtext {
    color: rgba(255, 255, 255, 0.35);
}

.refreshButton {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.refreshIcon {
    display: inline-block;
    transform: rotate(45deg);
    color: #FF6F00;
}

.right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    
}

select {
    background-color: #242424;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }

select:hover, option:hover {
    background-color: #2b2b2b;
}

.datePicker {
    display: flex;
    gap: 8px;
}

input {
    background-color: #242424;
    padding: 4px;
    height: 20px;
    border: none;
    border-radius: 5px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

.button {
    background-color: #242424;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

